.card-roxo{
    max-width: 350px;
    background-color: #ede1ff;
    border-radius: 20px;
    padding: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.card-roxo__item{
 padding: 18px;
}

.card-roxo__price{
    font-weight: 600;
    font-size: 40px;
}

